.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 90%;
  width: 100%;
  max-width: 420px; /* Keeps desktop layout centered */
}

/* Medium devices (tablets) */
@media (max-width: 768px) {
  .container {
    height: 90%;
    width: 90%;
  }
}

/* Small devices (phones) */
@media (max-width: 480px) {
  .container {
    height: 95%;
    width: 100%;
    border-radius: 0;
  }
}
